
.btn {
	background-color:#4a77d4;
	display: inline-block;
	color: white;
	border-radius: 5%;
	border-color: transparent;
	height: 30px;
	width: 100px;
}



.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #ffffff;
	border-radius: 4px;
}
.img2{
	background-image: url(user.png);
	height: 100px;
	width: 100px;
	background-color: white;
	border-radius:10% 50% 10% 50%;

}
/*inicio*/

.img1{
	background-image: url(user2.png);
	height: 100px;
	width: 100px;
	background-color: white;
	border-radius:50% 10% 50% 10%;
}
.input1{
	display: none;
}
.body11{
	width: 90%;
	height:90%;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	background: #092756;
	border: 0px;
	padding: 0px;
}
.body12{
	width: 90%;
	height:90%;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
background: #177534;
}
.body13{
	width: 90%;
	height:90%;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
background: #820d0d;
}
.body14{
	width: 90%;
	height:90%;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
background: #737814;
}
.btn1{
	display: inline-block;
	color: white;
	border-radius: 5%;
	border-color: transparent;
	height: 30px;
	width: 100px;
background: #2466bd;
}
.btn2{
	display: inline-block;
	color: white;
	border-radius: 5%;
	border-color: transparent;
	height: 30px;
	width: 100px;
background: #26bf55;
}
.btn3{
	display: inline-block;
	color: white;
	border-radius: 5%;
	border-color: transparent;
	height: 30px;
	width: 100px;
background: #e01616;
}
.btn4{
	display: inline-block;
	color: white;
	border-radius: 5%;
	border-color: transparent;
	height: 30px;
	width: 100px;
background: #c1c926;
}
